@model LeaveManagementSystem.ViewModel.GetAllUsersViewodel;
<!DOCTYPE html>
    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title></title>
    </head>
<body>
    <form asp-action="GetAllUsers">
        
    </form>
    @* <textarea readonly asp-for="FirstName"></textarea>
    <textarea readonly asp-for="LastName"></textarea>
    <textarea readonly asp-for="Email"></textarea>
    <textarea readonly asp-for="OnLeave"></textarea> *@
</body>
    </html>