@{
    ViewData["Title"] = "Home Page";
}
@model LeaveManagementSystem.Models.User;
<div class="text-center">
    <h1 class="display-4 text-primary">Leave Management System</h1>
    <p>Apply for Leave for your employees and manage how they are going to be used</p>

</div>
